/*===============================
 #.buttons
=================================*/
.primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .6rem;
    height: 3.5rem;
    min-width: 10rem;
    padding: .3rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px 0px rgba(81, 191, 215, 0.35);
    transition: $transition;
    border: none;
    &.btn-lg {
        height: 4.2rem;
    }
    &.outline-btn {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    &:hover {
        color: var(--white);
        background-color: var(--hover-color);
    }
}
.view-all-btn {
    display: inline-flex;
    align-items: center;
    grid-column-gap: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    transition: $transition;
    &:hover {
        color: var(--primary-color);
    }
}
.primary-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1rem;
    background-color: var(--primary-color);
    height: 5rem;
    min-width: 15rem;
    padding: 1rem 2rem;
    border-radius: .6rem;
    color: var(--white);
    transition: $transition;
    &:hover {
        color: var(--white);
        background-color: var(--hover-color);
    }
}
.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    min-width: 21rem;
    background-color: var(--primary-color);
    border-radius: .6rem;
    grid-column-gap: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    transition: $transition;
    .icon {
        @include flex-position(flex, center, center);
        width: 3rem;
        height: 2.6rem;
        background-color: var(--white);
        color: var(--primary-color);
        border-radius: .4rem;
        font-size: 1.6rem;
    }
    &:hover {
        background-color: var(--hover-color);
        color: var(--white);
    }
}
.primary-btn-outline {
    @include flex-position(flex, center, center);
    height: 4.4rem;
    border-radius: .3rem;
    border: 1.5px solid var(--primary-color);
    background-color: transparent;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: $transition;
    &:hover {
        color: var(--white);
        background-color: var(--primary-color);
    }
    &.dark-btn {
        border-color: var(--gray-color);
        color: var(--gray-color);
        &:hover {
            border-color: var(--primary-color);
            color: var(--white);
        }
    }
}

@media (max-width: 575px) {
    .contact-btn {
        grid-column-gap: 1rem;
        font-size: 1.6rem;
    }
}
