/*===============================
 #.counter-area
=================================*/
.counter-area {
    padding: 10rem 0  7rem 0;
    .signle-counter {
        margin-bottom: 3rem;
        .counter-icon {
            @include flex-position(flex, center, center);
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            background: rgba(255, 255, 255, .4);
            margin: 0 auto;
            margin-bottom: 2rem;
            outline: 5px solid rgba(255, 255, 255, .4);
            outline-offset: 5px;
        }
        .counter-text {
            font-size: 3.2rem;
            font-weight: 700;
            color: var(--white);
        }
        .counter-title {
            margin: 0;
            font-size: 2rem;
            color: var(--white);
            font-weight: 700;
        }
    }
}