/*===============================
 #.popular-hotel-arae
=================================*/
.popular-hotel-arae {
    .filtering-button {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: 3rem;
        grid-row-gap: .5rem;
        li {
            position: relative;
            padding-bottom: .8rem;
            cursor: pointer;
            font-size: 2rem;
            font-weight: 400;
            text-transform: capitalize;
            color: var(--black-color);
            &::before {
                position: absolute;
                content: '';
                width: 80%;
                height: 2px;
                background-color: var(--primary-color);
                margin: 0 auto;
                bottom: 0;
                left: 0;
                right: 0;
                display: none;
            }
            &.active {
                &::before {
                    display: block;
                }
            }
        }
    }
}